.container {
  display: grid;
  border: 4px solid gray;
  border-radius: 12px;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
}

.container div {
  border: 2px red solid;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.item-a {
  grid-column: 1/2;
  grid-row: 1/2;
}
.item-b {
  grid-column: 2/4;
  grid-row: 1/2;
}
/* .item-c {
  grid-column: 3/4;
  grid-row: 1/2;
} */
.item-d {
  grid-column: 4/5;
  grid-row: 1/2;
}
.item-e {
  grid-column: 4/5;
  grid-row: 2/3;
}
.item-f {
  grid-column: 3/4;
  grid-row: 2/3;
}
.item-g {
  grid-column: 1/3;
  grid-row: 2/3;
}
